body {
	width: 100%;
	font-family: 微软雅黑;
	margin: 0px;
	overflow: scroll;
	background-color: #F3F3F3;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

input {
	outline: none;
}

.none {
	display: none;
}

.block {
	display: block;
}

.clear {
	clear: both;
}

.list-title {
	width: 94%;
	height: 60px;
	line-height: 60px;
	padding: 0 3%;
	z-index: 7;
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	box-shadow: 0px 7px 5px -8px #5E5E5E;
}

.Icon {
	width: 30px;
	height: 50px;
	float: right;
	text-align: center;
	animation: myfirst 4s;
	animation-iteration-count: infinite;
}

@keyframes myfirst {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.top{
	width: 100%;
	height: 60px;
	background-color:#f3f3f3;
	margin-top: 110px;
}
.top-up{
	margin-left:10px;
	line-height: 60px;
	float: left;
	clear: all;
}
.loginpho{
	width: 100%;
	margin: 0px;
}
.loginpho img{
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	margin: 30px auto;
}
.loginname{
	width: 80%;
	height: 40px;
	border-bottom: 1px solid #999;
	margin: 0px auto;
}
.loginname .loginname-left{
	width: 100%;
	float: left;
	line-height: 40px;
	position: relative;
}
.loginname-left input{
	height: 20px;
	border: 0px;
	width: 100%;
	background-color: #F3F3F3;
}

.loginnum{
	width: 80%;
	height: 40px;
	border-bottom: 1px solid #999;
	margin: 0px auto;
	margin-top: 20px;
	position: relative;
}
.loginnum .logintext{
	position: absolute;
	color: #ff0036;
	top: 0px;
	right: 0px;
	font-size: 10px;
}
.loginnum input{
	border: none;
	width: 100%;
	background-color: #f3f3f3;
	line-height: 36px;
}
.login{
	width: 80%;
	height: 40px;
	margin: 0px auto;
	margin-top: 40px;
    background-color:#FE542D; 
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
}

