<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>农资共享</title>
	<link rel="Shortcut Icon" th:href="@{/images/01.icon}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/adminindex.css}"/>
	<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/adminindex.js}"></script>
</head>
<body>
	<div class="list-title">
    	农资共享后台管理系统
    	<div class="user">
    		<img th:src="'/File/agricultural_share'+${session.adminUser.userAvatar}"/>
    	</div>
    	<div class="menu">
    		<a th:href="@{/changemanage}"><div class="aa">修改个人信息</div></a>
    		<div style="border: 0;"  class="aa tologin">退出登录</div>
    	</div>
    </div>
    <div class="list-body">
    	<a th:href="@{/admin/user/adminUserList}">
    		<div class="list list1">
	    		<img th:src="@{/images/icon6.png}" alt="" />
	    		<div class="text">用户管理</div>
	    	</div>
    	</a>
		<a th:href="@{/admin/findAllMessage}">
			<div class="list list2">
				<img th:src="@{/images/icon1.png}" alt="" />
				<div class="text">需求管理</div>
			</div>
		</a>
    	<a th:href="@{/admin/category/productCategoryList}">
    		<div class="list list3">
	    		<img th:src="@{/images/icon7.png}" alt="" />
				<div class="text">分类管理</div>
	    	</div>
    	</a>
    	<div class="list list4">
    		<img th:src="@{/images/icon8.png}" alt="" />
    		<div class="text">期待更多</div>
    	</div>
    </div>
</body>
</html>