<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>修改一级分类</title>
		<link rel="Shortcut Icon" th:href="@{/images/01.icon}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/changeoneclassify.css}" />
		<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
		<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
		<script type="text/javascript" th:src="@{/js/changeoneclassify.js}"></script>

	</head>

	<body th:object="${category}">
		<div class="list-title">
			<a th:href="@{/admin/category/productCategoryList}">
				<i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;修改一级分类
			</a>
			<div class="Icon">
				<i class="fa fa-power-off"></i>
			</div>
		</div>
		<div class="user-img">
			<img th:src="@{/images/logo1.png}"/>
		</div>
		<div class="allipt">
			<div>
				<div class="ipttitle">分类名称</div>
				<input type="text" class="ipt" th:value="${category.categoryName}"/>
			</div>
		</div>
		<div class="button">
			<div class="btn">确认修改</div>
			<a href="./classify.html"><div class="btn">取消</div></a>
		</div>
	</body>

</html>