<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>更改需求</title>
	<link rel="Shortcut Icon" href="./images/01.icon">
	<link rel="stylesheet" type="text/css" href="./css/changeneeds.css"/>
	<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="./js/jquery.js"></script>
	<script type="text/javascript" src="./js/changeneeds.js"></script>
</head>
<body>
	<div class="list-title">
		<a href="./admindemand.html">
			<i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;更改需求
		</a>
		<div class="Icon">
			<i class="fa fa-power-off"></i>
		</div>
	</div>
	<div class="user-img">
		<img src="images/logo1.png"/>
	</div>
	<div class="allmessage">
		<div>
			<div class="title">用户名:</div>
			<input type="text" class="ipt" />
		</div>
		<div>
			<div class="title">地址:</div>
			<input type="text" class="ipt" />
		</div>
		<div>
			<div class="title">手机号:</div>
			<input type="text" class="ipt" />
		</div>
		<div>
			<div class="title">需求内容:</div>
			<input type="text" class="ipt" />
		</div>
	</div>
	<div class="button">
		<div class="btn">确认修改</div>
		<a href="./admindemand.html"><div class="btn">取消</div></a>
	</div>
</body>
</html>