<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="Shortcut Icon" th:href="@{/images/01.icon}">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<title>发布需求</title>
		<link rel="stylesheet" type="text/css" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}" />
		<link rel="stylesheet" th:href="@{/css/issue.css}" />
	</head>

	<body>
		<div class="list-title">
			<a th:href="@{/index}">
				<i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;需求发布
			</a>
			<div class="Icon">
				<i class="fa fa-power-off"></i>
			</div>
		</div>
		<div class="top">
			<div class="top-img">
				<img th:src="@{/images/issuetop.jpg}">
			</div>
			<div class="top-issue">
                <form th:action="@{/message/createDemand}" method="post">
					<div class="issue-title">
						<span>-- 发布需求，大家主动来帮您 --</span>
					</div>
					<div th:if="${msg!=null}" class="issue-title" style="margin: 0 0;">
						<span th:text="${msg}" style="color: red"></span>
					</div>
					<div class="issue-find" onclick="addblock()">
						<div class="find">我要找：</div>
						<div class="findtype">
							<span class="typetext">请选择需要的服务类型</span>
							<span class="typefont  fa fa-caret-up"></span>
							<input name="sonType" class="sonType" style="display:none" >
							<input name="parentType" value="用户需求" style="display: none" >
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="issue-phone">
						<div class="phone">手机号：</div>
						<input name="phone" class="phonenum" type="text" placeholder="请输入手机号" maxlength="11" />
					</div>
					<div class="issue-phone">
						<div class="phone">名&nbsp;&nbsp;称：</div>
						<input name="title" class="phonenum" type="text" placeholder="请输入需要服务的名称" maxlength="11" />
					</div>
					<div class="issue-phone">
						<div class="phone">详&nbsp;&nbsp;情：</div>
						<input name="content" class="phonenum" type="text" placeholder="请输入服务详细信息"  />
					</div>
					<div class="issue-site">
						<div class="site-text">地&nbsp;&nbsp;&nbsp;址：</div>
						<div class="site" data-toggle="distpicker">
							<select class="site-s site-s-z" onclick="siteone()" data-province="-- 选择省 ---"></select>
							<select class="site-s site-s-o " style="display: none;" onclick="sitetwo()" data-city="-- 选择市 ---"></select>
							<select class="site-s site-s-t" style="display: none;" onclick="sitethree()" data-district="-- 选择区 ---"></select>
							<input class="site-input" style="display: none;" placeholder="输入详细地址" />
							<input name="address" class="addresses" style="display: none" >
						</div>
						<div class="clear"></div>
					</div>
					<input type="submit" style="display: none" class="sub">
                </form>
				<div class="issue-up" >需求发布</div>
				<!--<div class="root">
					<div class="mainright">
						<ul>
							<li>135****3564在福建发出了农药的需求</li>
							<li>180****7765在河南发出了机器的需求</li>
							<li>182****4412在新疆发出了土地的需求</li>
							<li>159****7864在河南发出了化肥的需求</li>
						</ul>
					</div>
				</div>-->
			</div>
		</div>
		<div class="needback none" onclick="addnone()"></div>
		<div class="need">
			<div class="needs">
				<div class="needs-left">
					<p th:each="categories:${categories}" class="types" >
                        <span th:text="${categories.getCategoryName()}">土地</span>
                        <!--<input type="hidden" th:value="${categories.getCategoryId()}">-->
                    </p>
				</div>
				<div class="needs-right">
					<div class="needs-x block"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
		<script type="text/javascript" th:src="@{/js/distpicker.js}"></script>
		<script type="text/javascript" th:src="@{/js/issue.js}"></script>
	</body>

</html>